@import "@/styles/variables.scss";
.thank-you-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  height: 59vh;
  padding: 50px 20px;

  @media (max-width: 768px) {
    height: calc(100vh - 320px);
    gap: 10px;
  }
  :global {
    h1 {
      font-size: 68px;
      font-family: "font-medium";
      text-align: center;
      display: inline-block;
      background: linear-gradient(45deg, #8523e1, #3b82f6);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.5;
      padding-bottom: 8px; /* يتيح مساحة للنقط */
      text-rendering: optimizeLegibility;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
    p {
      text-align: center;
      font-size: 20px;
      color: #dde8ff;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    .btn {
      font-family: "font-medium";
      background: linear-gradient(90deg, #3b82f6 -34.71%, #8200ff 100%);
      border-radius: 5px;
      border: 0;
      padding: 0;
  
      a {
        color: #ffffff;
        width: 100%;
        height: 100%;    display: grid;
      place-items: center;
      }
    }
    button {
      margin-top: 20px;
    }
  }
}
