@import "@/styles/variables.scss";

.account-setup-section {
  padding: 65px 0;
  height: 100%;
  @media (max-width: 991px) {
    overflow: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding: 0;
  }
  :global {
    .row {
      justify-content: space-between;
      height: 100%;
      @media (max-width: 991px) {
        height: auto;
      }
    }

    .account-setup-banner {
      height: 100%;
      background-color: $primary-color;
      border-radius: 50px 0 0 50px;
      padding: 70px;
      [dir="ltr"] & {
        border-radius: 0 50px 50px 0;
      }
      @media (max-width: 991px) {
        border-radius: 0;
        height: auto;
        text-align: center;
        padding: 30px;
      }
      img {
        width: 150px;
        height: 100px;
        object-fit: contain;
        filter: brightness(0) invert(1);
        @media (max-width: 991px) {
          width: 110px;
          height: auto;
        }
      }
      .login-banner__text {
        margin-top: 150px;
        @media (max-width: 991px) {
          margin-top: 50px;
        }
        h3 {
          color: #fff;
          font-family: "font-bold";
          font-size: 40px;
          margin-bottom: 20px;
          @media (max-width: 991px) {
            font-size: 30px;
          }
        }
        p {
          color: #fff;
          font-size: 18px;
          max-width: 70%;
          @media (max-width: 991px) {
            max-width: 100%;
            font-size: 16px;
          }
        }
      }
    }
    .account-setup-form {
      padding: 35px 65px;
      @media (max-width: 991px) {
        padding: 40px 20px;
      }
      h3 {
        font-size: 24px;
        font-family: "font-bold";
        margin-bottom: 35px;
      }
      .account-setup-form__header {
        margin-bottom: 60px;
        h3 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          font-family: "font-bold";
          span {
            font-family: "font-regular";
            font-size: 18px;
          }
        }
        .account-setup-form__progress-bar {
          background-color: $secondary-color;
          height: 10px;
          border-radius: 50px;
          overflow: hidden;
          margin-bottom: 20px;
          .account-setup-form__progress-bar__fill {
            background-color: $primary-color;
            height: 100%;
            border-radius: 50px;
            transition: $transition;
          }
        }
        .account-setup-form__back {
          button {
            border: 0;
            background-color: transparent;
            padding: 0;
          }
        }
      }
      .account-setup-form__body {
        .form-step {
          .form-group {
            margin-bottom: 30px;
            @media (max-width: 991px) {
              margin-bottom: 20px;
            }
            .form-label {
              margin-bottom: 30px;
              font-family: "font-bold";
              font-size: 15px;
            }
            .form-control {
              border-radius: 8px;
              border: 0.5px solid #e9e9e9;
              background-color: #fff;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              min-height: 50px;
              padding: 0 15px;
              width: 40%;
              text-align: right;
              line-height: normal;
              @media (max-width: 991px) {
                width: 100%;
              }

              .select__control {
                min-height: 50px;
                border: 0;
                border-radius: inherit;
                transition: $transition;
                .select__value-container {
                  padding: 10px 15px;
                  overflow: visible;
                  gap: 10px;
                  .select__placeholder,
                  .select__single-value {
                    margin: 0;
                    font-size: 16px;
                  }
                  .select__input-container {
                    padding: 0;
                    margin: 0;
                  }
                  .select__multi-value {
                    border: 0;
                    border-radius: 8px;
                    border: 0.5px solid #e9e9e9;
                    background: #fff;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    overflow: hidden;
                    padding: 5px 10px;
                    margin: 0;
                    gap: 10px;
                    .select__multi-value__label {
                      padding: 0;
                      font-size: 14px;
                      border-radius: 0;
                      line-height: 1.5;
                    }
                    .select__multi-value__remove {
                      padding: 0;
                    }
                  }
                }
                .select__indicator-separator {
                  display: none;
                }
                .select__indicator {
                  svg {
                    fill: #0a0a0c;
                    width: 30px;
                    height: 30px;
                    stroke-width: 1.5px;
                    stroke: #fff;
                  }
                }

                &.select__control--is-focused,
                &.select__control--menu-is-open {
                  border-color: $primary-color;
                  box-shadow: 0 0 0 1px $primary-color;
                }
              }

              &.select-form {
                padding: 0;
              }
              &.keywords-select {
                width: 100%;
              }

              &:focus {
                border-color: $primary-color;
              }

              &.is-invalid {
                border-color: red;
              }
            }
            .select__menu {
              border-radius: 8px;
              border: 0.5px solid #e9e9e9;
              background: #fff;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              padding: 0;
              margin: 0;
              overflow: hidden;
              .select__menu-list {
                padding: 0;
                border-radius: inherit;
                .select__option {
                  border: 0;
                  padding: 13px 15px;
                  font-size: 16px;
                  &.select__option--is-focused {
                    background-color: rgb(29 99 99 / 23%);
                  }
                  &.select__option--is-selected {
                    background-color: $primary-color;
                    color: #fff;
                  }
                }
              }
            }
            // .selected-regions {
            //   display: flex;
            //   gap: 15px 40px;
            //   border-radius: 15px;
            //   border: 0.5px solid #e9e9e9;
            //   background: #fff;
            //   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            //   padding: 50px;
            //   min-height: 300px;
            //   align-items: flex-start;
            //   flex-wrap: wrap;
            //   @media (max-width: 991px) {
            //     padding: 20px;
            //     gap: 20px;
            //     min-height: auto;
            //   }
            //   label {
            //     border-radius: 8px;
            //     border: 0.5px solid #e9e9e9;
            //     background: #fff;
            //     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            //     position: relative;
            //     min-height: 50px;
            //     min-width: 150px;
            //     font-size: 17px;
            //     padding: 0 15px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     @media (max-width: 991px) {
            //       min-width: 120px;
            //       font-size: 15px;
            //       min-height: 40px;
            //     }
            //     button {
            //       position: absolute;
            //       left: -10px;
            //       top: -10px;
            //       border: 0;
            //       padding: 0;
            //       background-color: #fff;
            //       border-radius: 100%;
            //     }
            //   }
            // }
            .search-activities {
              margin-bottom: 20px;
              .form-control {
                width: 100%;
              }
            }

            .selected-regions {
              display: flex;
              border-radius: 15px;
              border: 0.5px solid #e9e9e9;
              background: #fff;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              padding: 30px;
              gap: 20px;
              align-items: flex-start;
              flex-wrap: wrap;
              overflow: hidden;
              overflow-y: auto;
              max-height: 300px;
              &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
              }
              &::-webkit-scrollbar-track {
                border-radius: 15px;
                background-color: $secondary-color;
              }
              &::-webkit-scrollbar-thumb {
                background-color: $primary-color;
                border-radius: 15px;
              }
              @media (max-width: 991px) {
                padding: 20px;
                gap: 20px;
                min-height: auto;
              }
              label {
                border-radius: 8px;
                border: 0.5px solid #e9e9e9;
                background: #fff;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                position: relative;
                min-height: 50px;
                min-width: 150px;
                font-size: 17px;
                padding: 10px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: $transition;
                @media (max-width: 991px) {
                  min-width: 120px;
                  font-size: 15px;
                  min-height: 40px;
                }
                &.selected-region {
                  background-color: $primary-color;
                  border-color: $primary-color;
                  color: #fff;
                }
                button {
                  position: absolute;
                  left: -10px;
                  top: -10px;
                  border: 0;
                  padding: 0;
                  background-color: #fff;
                  border-radius: 100%;
                }
              }
            }
            .add-employees {
              border-radius: 10px;
              border: 0.5px solid #e9e9e9;
              background: #fff;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              padding: 30px;
              & > .form-label {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 20px;
              }
              .form-group {
                .form-label {
                  min-width: 100px;
                }
                &:last-child {
                  justify-content: flex-end;
                  margin-bottom: 0;
                }
              }
            }
            .employees-list {
              .table {
                th {
                  color: $primary-color;
                  font-weight: normal;
                  font-size: 20px;
                  padding: 15px;
                  text-align: center;
                  border-bottom: 1px solid #eee;
                }
                td {
                  border: 0;
                  border-bottom: 1px solid #eee;
                  padding: 15px;
                  text-transform: none;
                  text-align: center;
                  font-size: 15px;
                  button {
                    border: 0;
                    padding: 0;
                    background-color: transparent;
                  }
                }
              }
            }
            .form-checkbox {
              display: flex;
              align-items: center;
              gap: 50px;
              label {
                input {
                  display: none;
                  &:checked + span::before,
                  &[value="true"] + span::before {
                    background: $primary-color;
                  }
                }
                span {
                  display: flex;
                  align-items: center;
                  gap: 12px;
                  cursor: pointer;
                  font-size: 18px;
                  @media (max-width: 991px) {
                    font-size: 16px;
                  }
                  &::before {
                    content: "";
                    width: 30px;
                    height: 30px;
                    border-radius: 8px;
                    border: 2.5px solid #fff;
                    background: #fff;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    transition: $transition;
                  }
                }
                a {
                  color: $primary-color;
                  font-family: "font-bold";
                }
              }
            }
            .error {
              width: 100%;
              color: red;
              font-size: 13px;
              margin-top: 10px;
            }

            &.flex {
              display: flex;
              align-items: center;
              gap: 30px;
              @media (max-width: 991px) {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 10px;
              }
              & > div:not(.form-checkbox) {
                width: 100%;
              }
              .form-label {
                margin: 0;
              }
              .form-control {
                width: 100%;
              }
              .btn {
                &:disabled {
                  background-color: #e9e9e9;
                  color: #898989;
                  cursor: not-allowed;
                }
              }
              .url-holder {
                div {
                  display: flex;
                  align-items: center;
                  gap: 20px;
                }
              }
            }
            &.has-boolean {
              max-width: 60%;
              justify-content: space-between;
              @media (max-width: 991px) {
                max-width: 100%;
              }
              & > div {
                width: auto !important;
              }
            }
          }
          .react-tel-input {
            display: flex;
            gap: 24px;
            .flag-dropdown {
              position: relative;
              border-radius: 10px;
              height: 50px;
              border: 0.5px solid #e9e9e9;
              background-color: #fff;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

              .selected-flag {
                width: auto;
                padding: 0;
                border-radius: 0;
                min-width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                &::before {
                  display: none;
                }
                .flag {
                  position: relative;
                  top: 0;
                  margin: 0;
                }
                .arrow {
                  margin: 0;
                  left: -40px;
                  border: 0;
                  border-width: 1px 1px 0 0;
                  border-style: solid;
                  border-color: #000;
                  width: 8px;
                  height: 8px;
                  rotate: 135deg;
                  translate: 0 -50%;
                }
              }
            }
            .form-control {
              width: 100%;
              text-align: left;
              background-repeat: no-repeat;
              background-position: right calc(0.375em + 0.1875rem) center;
              background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
              height: 50px;
              &.is-invalid {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
              }
            }
            .country-list {
              left: 0;
              right: auto;
              border-radius: 15px;
              // &::-webkit-scrollbar {
              //   width: 7px;
              // }
              // &::-webkit-scrollbar-track {
              //   background: #f1f1f1;
              // }
              // &::-webkit-scrollbar-thumb {
              //   background: #888;
              //   border-radius: 10px;
              // }
              .search {
                padding: 10px;
                .search-box {
                  height: 40px;
                  border-radius: 10px;
                  width: 100%;
                  font-family: "font-regular";
                  padding-inline: 20px;
                }
              }
              .country {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 15px;
                border-bottom: 1px solid $secondary-color;
                .flag {
                  position: relative;
                  top: auto;
                  margin: 0;
                  left: auto;
                }
                .country-name {
                  margin: 0;
                }
                .dial-code {
                  flex-grow: 1;
                  text-align: left;
                  direction: ltr;
                }
              }
            }
          }
          &.form-step-1 {
            .form-group {
              .form-label {
                min-width: 120px;
              }
            }
          }
        }
      }
      .account-setup-form__footer {
        text-align: left;
        margin-top: 50px;
        @media (max-width: 991px) {
          margin-top: 30px;
        }
        .btn {
          &:disabled {
            cursor: not-allowed;
            background: #c7c7c7;
            border-color: #c7c7c7;
          }
        }
      }
    }
  }
}

.message-modal {
  @media (max-width: 768px) {
    padding: 20px;
  }
  :global {
    .modal-content {
      border-radius: 40px;
      background: $secondary-color;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 100px;
      text-align: center;
      @media (max-width: 768px) {
        padding: 40px;
      }
      p {
        font-size: 20px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
      .btn {
        width: fit-content;
        margin: 0 auto;
        min-width: 100px;
      }
    }
  }
}
