@import "@/styles/variables.scss";

.request-demo-section {
  padding: 50px 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 55%;
    height: 100%;
    background-color: $secondary-color;
    z-index: -1;
    border-radius: 40px;
    [dir="ltr"] & {
      left: -50px;
      right: auto;
    }
    @media (max-width: 768px) {
      width: 100%;
      right: 0;
      border-radius: 0;
    }
  }
  :global {
    .row {
      row-gap: 30px;
      align-items: center;
    }
    .demo-form {
      .form-title {
        margin-bottom: 30px;
        h3 {
          font-size: 40px;
          font-family: "font-bold";
          color: $primary-color;
          max-width: 60%;
          @media (max-width: 768px) {
            max-width: 100%;
            font-size: 20px;
          }
        }
        p {
          font-size: 16px;
          margin-top: 20px;
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
      .form-body {
        .form-group {
          .form-control {
            background-color: #fff;
            border-radius: 15px;
            height: 55px;
            padding: 0 25px;
            text-align: right;
            box-shadow: none;
            border: 1px solid transparent;
            font-size: 16px;
            transition: $transition;
            [dir="ltr"] & {
              text-align: left;
            }
            @media (max-width: 768px) {
              height: 50px;
              font-size: 14px;
              border-radius: 10px;
              padding-inline: 15px;
            }
            &:focus {
              border-color: $primary-color;
            }
          }
          .react-tel-input {
            display: flex;
            gap: 24px;
            .flag-dropdown {
              position: relative;
              background-color: #fff;
              border-radius: 15px;
              height: 55px;
              @media (max-width: 768px) {
                height: 50px;
                border-radius: 10px;
              }
              .selected-flag {
                width: auto;
                padding: 0;
                border-radius: 0;
                min-width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                &::before {
                  display: none;
                }
                .flag {
                  position: relative;
                  top: 0;
                  margin: 0;
                }
                .arrow {
                  margin: 0;
                  left: -40px;
                  border: 0;
                  border-width: 1px 1px 0 0;
                  border-style: solid;
                  border-color: #000;
                  width: 8px;
                  height: 8px;
                  rotate: 135deg;
                  translate: 0 -50%;
                  [dir="ltr"] & {
                    left: auto;
                    right: -40px;
                  }
                }
              }
            }
            .form-control {
              width: 100%;
              text-align: left;
              background-repeat: no-repeat;
              background-position: right calc(0.375em + 0.1875rem) center;
              background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
              &.is-invalid {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
              }
            }
            .country-list {
              left: 0;
              right: auto;
              border-radius: 15px;
              [dir="ltr"] & {
                left: auto;
                right: 0;
              }
              // &::-webkit-scrollbar {
              //   width: 7px;
              // }
              // &::-webkit-scrollbar-track {
              //   background: #f1f1f1;
              // }
              // &::-webkit-scrollbar-thumb {
              //   background: #888;
              //   border-radius: 10px;
              // }
              .search {
                padding: 10px;
                .search-box {
                  height: 40px;
                  border-radius: 10px;
                  width: 100%;
                }
              }
              .country {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 15px;
                border-bottom: 1px solid $secondary-color;
                .flag {
                  position: relative;
                  top: auto;
                  margin: 0;
                  left: auto;
                }
                .country-name {
                  margin: 0;
                }
                .dial-code {
                  flex-grow: 1;
                  text-align: left;
                  direction: ltr;
                }
              }
            }
          }
          label {
            input {
              display: none;
              &:checked + span {
                &::before {
                  background-color: $primary-color;
                  border: 1px solid $primary-color;
                }
                &::after {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
            span {
              display: flex;
              align-items: center;
              gap: 10px;
              cursor: pointer;
              position: relative;
              font-size: 15px;
              font-family: "font-medium";
              &::before {
                content: "";
                width: 25px;
                height: 25px;
                border: 1px solid #dfdfdf;
                background-color: #fff;
                border-radius: 5px;
                transition: $transition;
              }
              &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 25px;
                height: 25px;
                background-image: url("../assets/images/check.svg");
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: center;
                transition: $transition;
                opacity: 0;
                visibility: hidden;
                [dir="ltr"] & {
                  left: 0;
                  right: auto;
                }
              }
            }
          }
          &.has-btn {
            text-align: left;
            [dir="ltr"] & {
              text-align: right;
            }
          }
        }
      }
    }
    .demo-swiper {
      padding-inline-start: 200px;
      text-align: center;
      @media (max-width: 1400px) {
        padding-inline-start: 100px;
      }
      @media (max-width: 768px) {
        padding: 30px 0 0;
      }
      .demo-quote {
        position: relative;
        padding: 30px 80px;
        overflow: hidden;
        @media (max-width: 768px) {
          padding: 30px 20px;
        }
        &::before {
          content: "";
          position: absolute;
          right: 10px;
          top: 0;
          background-image: url("../assets/images/quote.svg");
          width: 50px;
          height: 50px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          @media (max-width: 768px) {
            width: 20px;
            height: 20px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          background-image: url("../assets/images/quote.svg");
          width: 50px;
          height: 50px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          left: 10px;
          bottom: 0;
          scale: -1;
          @media (max-width: 768px) {
            width: 20px;
            height: 20px;
          }
        }
        p {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      .swiper {
        padding: 0 0 40px;
        .swiper-pagination {
          .swiper-pagination-bullet-active-main {
            background-color: $primary-color;
          }
        }
      }
    }
    .fallback-image {
      text-align: center;
      @media (max-width: 768px) {
        display: none;
      }
      img {
        filter: brightness(0) opacity(0.1);
      }
    }
  }
}
/* ********** MEDIA QUERY ********* */
