@import "@/styles/variables.scss";

/* ********** MEDIA QUERY ********* */

.tools-wrapper {
  margin-top: 135px;
  width: 100%;
  :global {
    .row {
      margin-bottom: 150px;
    }
    .gradientBtn {
      width: 100%;
      height: 48px;
      border-radius: 8px;
      background: linear-gradient(45deg, #a855f7, #3b82f6);
      color: #fff;
      border: 0;
      margin-top: 24px;
    }
    p {
      color: #94a3b8;
    }
    h3 {
      font-size: 45px;
      font-family: "font-medium";
      color: #ffffff;

      display: inline-block;
      background: linear-gradient(45deg, #a855f7, #3b82f6);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.5;
      padding-bottom: 0px; /* يتيح مساحة للنقط */
      text-rendering: optimizeLegibility;
    }
    h5 {
      font-size: 24px;

      color: #ffffff;
      margin-top: 0px;
      margin-bottom: 5px;
    }

    span {
      color: #94a3b8;
      font-size: 20px;
    }

    .text-section {
  
      p {
        font-size: 20px;

        color: #94a3b8;
        margin-top: 10px;
        margin-bottom: 15px;
        line-height: 1.2;
      }
    }
    ul {
      margin: 32px 0;
      li {
        font-size: 18px;
        margin-bottom: 12px;
        color: #ffffff;
      }
    }
    a {
      background: linear-gradient(180deg, #3b82f6 -14.71%, #8200ff 100%);

      color: #ffffff;
      border-radius: 5px;
      // padding: 10px 32px;
      width: 200px !important;
      height: 48px !important;
      display: grid;
      place-items: center;
      margin-top: 75px;
    }

    .form-wrapper {
      border: 1.5px solid #1e293b;
      border-radius: 8px;
      background-color: transparent;
      padding: 24px;
      .form-group {
        width: 100%;
        &.flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 24px;
        }
      }
      .form-field {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        width: 100%;
      }
      textarea {
        min-height: 120px;
      }
      .field-label {
        color: white;

        margin-bottom: 10px;
        font-size: 15px;
      }

      .field-input,
      .field-select {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
        padding: 12px 16px;
        border-radius: 8px;
        transition: border-color 0.3s;
      }

      .field-input::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }

      .field-input:focus,
      .field-select:focus {
        outline: none;
        border-color: #3b82f6;
      }
      .field-select:hover {
        background-color: transparent;
      }
    }
  }
}
