@import "@/styles/variables.scss";
.dashboard-wrapper {
  padding: 15px 30px;
  :global {
    .header {
      // background: linear-gradient(180deg, #095183 0%, #02121d 239.46%);
      // height: 175px;
      // padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e2e8f0;
      padding-bottom: 15px;
      .text {
        height: 100%;
        display: flex;

        align-items: center;
        gap: 10px;
        color: #02091a;
        h1 {
          font-family: "font-bold";
          font-size: 32px;
        }
        p {
          font-size: 16px;
        }
      }
      .name-section {
        display: flex;
        align-items: center;
        gap: 16px;

        .avatar {
          background: linear-gradient(45deg, #a855f7, #3b82f6);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: grid;
          place-items: center;
          color: #fff;
          font-family: "font-medium";
          font-size: 18px;
        }
        .name-text {
          h3 {
            font-family: "font-medium";
            font-size: 16px;
          }
          p {
            font-size: 14px;
            color: #a4b1c4;
            text-align: center;
          }
        }
      }

      .statistics-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .single-statistc {
          box-shadow: 0px -2px 33px 5px #a1a1a140;
          background-color: #fff;
          border-radius: 10px;
          padding: 15px;
          width: fit-content;
          min-width: 355px;
          margin-block: 60px -60px;
          height: fit-content;
          min-height: 180px;
          .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              font-family: "font-medium";
              font-size: 18px;
            }
          }
          .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            p {
              color: #9090a7;
              font-size: 16px;
            }
            .complete-percent {
              width: 100%;
              max-width: 140px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: calc(100% - 75px);

              div {
                width: 70%;
                max-width: 200px;
                position: relative;
                @media (max-width: 768px) {
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                }
              }
              svg {
              }
              p {
                position: absolute;
                top: 40%;
                left: 50%;
                font-size: 18px;
                font-family: "font-bold";
                transform: translate(-50%, -50%);
                color: #333;
              }
              span {
                position: absolute;
                top: 62%;
                left: 50%;
                font-size: 12px;
                transform: translate(-50%, -50%);
              }
              h5 {
                padding-top: 20px;
                font-family: "font-medium";
                text-align: center;
              }
            }
          }
        }
      }
    }
    .main {
      margin-top: 30px;

      canvas {
        max-height: 500px;
        width: 100%;
      }
      .welcome-banner {
        background: linear-gradient(
          269.94deg,
          rgba(101, 159, 255, 0.37) -15.65%,
          rgba(130, 0, 255, 0.06) 99.96%
        );

        padding: 2rem;
        border-radius: 24px;
        min-height: 200px;
        margin-bottom: 24px;
        h2 {
          font-size: 30px;
          font-family: "font-bold";
          margin-bottom: 1rem;

          .emoji {
            margin-left: 0.5rem;
          }
        }

        p {
          font-size: 16px;
          line-height: 1.2;
          margin: 0.3rem 0;
        }
      }
      .stats-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 16px;
        .single-item {
          border: 1px solid #e2e8f0;
          border-radius: 15px;
          padding: 20px 20px;
          .card-top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 5px;
            h5 {
              font-size: 16px;
              font-family: "font-medium";
              display: -webkit-box; /* Required for webkit */
              -webkit-line-clamp: 2; /* Limit to 2 lines */
              -webkit-box-orient: vertical;
              overflow: hidden; /* Hide overflowed text */
              text-overflow: ellipsis;
            }
          }
          .card-middle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin: 8px 0 5px 0;

            width: 100%;
            .status {
              background-color: #dcfce7;
              width: fit-content;
              padding: 3px 12px;
              color: #166534;
              border-radius: 50px;
              font-size: 12px;
            }
          }
          span {
            color: #64748b;
          }
          .percent {
            color: #64748b;
            text-align: right;
            width: 100%;
          }
        }
      }
      h3 {
        margin-top: 32px;
        margin-bottom: 15px;
        font-family: "font-bold";
        font-size: 20px;
      }
      .features-stat-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 16px;

        .single-item {
          border: 1px solid #e2e8f0;
          border-radius: 8px;
          padding: 20px 20px;
          background-color: #fff;
          height: 100%;
          cursor: pointer;
          .project-status {
            background-color: #dcfce7;
            width: fit-content;
            padding: 3px 12px;
            color: #166534;
            border-radius: 50px;
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 5px;
            &.pending {
              color: #d97706;
              background-color: #fef3c7;
            }
            &.Inprogress {
              color: #2563eb;
              background-color: #dbeafe;
            }
          }
          .inner {
            width: 100%;
            border-bottom: 1px solid #e2e8f0;
            padding-bottom: 10px;
            margin-bottom: 10px;
            &:last-of-type {
              margin-bottom: 0;
              border: 0;
              padding-bottom: 0;
            }
            .card-top {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              gap: 10px;
              margin-bottom: 5px;
              h5 {
                font-size: 15px;
                font-family: "font-medium";
                display: -webkit-box; /* Required for webkit */
                -webkit-line-clamp: 2; /* Limit to 2 lines */
                -webkit-box-orient: vertical;
                overflow: hidden; /* Hide overflowed text */
                text-overflow: ellipsis;
              }
              .status {
                background-color: #dcfce7;
                width: fit-content;
                padding: 3px 12px;
                color: #166534;
                border-radius: 50px;
                font-size: 12px;
                display: flex;
                align-items: center;
                gap: 5px;
                &.inProgress {
                  color: #d97706;
                  background-color: #fef3c7;
                }
                &.pending {
                  color: #2563eb;
                  background-color: #dbeafe;
                }
              }
            }
            .deadline {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 5px;
              margin-top: 10px;
              div {
                display: flex;
                align-items: center;
                gap: 5px;
              }
            }
            span {
              color: #64748b;
            }
          }
        }
      }

      .all-projects-chart {
        border: 1px solid #e2e8f0;
        border-radius: 8px;
        padding: 20px 20px;

        .header-chart {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 24px;
          margin-bottom: 24px;
          border-bottom: 1px solid #e2e8f0;
          padding-bottom: 14px;
          .chart-labels {
            display: flex;
            align-items: center;
            gap: 24px;

            .c-label {
              display: flex;
              align-items: center;
              gap: 8px;
              div {
                background-color: #020817;
                width: 12px;
                height: 12px;
                border-radius: 2px;
              }

              .pv {
                background-color: #3b82f6;
              }

              .mv {
                background-color: #8200ff;
              }

              p {
                font-size: 14px;
                color: #9090a7;
              }
            }
          }
        }
      }
      .NearDeadlineList {
        background-color: #f9fafc;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        border: 1px solid #e2e8f0;
        padding: 16px 6px 16px 10px;

        h2 {
          font-family: "font-bold";
          font-size: 20px;
          padding-bottom: 10px;
          padding-left: 6px;
        }
        .inner {
          overflow-y: auto;
          max-height: 750px;
          padding: 6px 10px 6px 6px;
          &.all-projects {
            overflow-y: hidden;
            max-height: fit-content;
            height: fit-content;
            .date-status {
              margin: 0;
              margin-top: 12px;
            }
          }
          &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
          }
          &::-webkit-scrollbar-track {
            border-radius: 15px;
            background-color: #dee3ee;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #acb6cb;
            border-radius: 15px;
          }
        }
        .deadline-item {
          background-color: #fff;
          padding: 16px;
          border-radius: 16px;
          border: 1px solid #e2e8f0;
          margin-bottom: 12px;
          cursor: pointer;
          transition: $transition;

          &:hover {
            border: 1px solid transparent;
            box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
              rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
              rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
              rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
              rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
              rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
              rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
          }
          &:last-of-type {
            margin-bottom: 0;
          }

          .title {
            display: flex;
            align-items: center;
            gap: 12px;
            h5 {
              font-size: 16px;
              font-family: "font-medium";
              display: -webkit-box; /* Required for webkit */
              -webkit-line-clamp: 2; /* Limit to 2 lines */
              -webkit-box-orient: vertical;
              overflow: hidden; /* Hide overflowed text */
              text-overflow: ellipsis;
            }
            .icon {
              width: 40px;
              height: 40px;
              background-color: #dcfce7;
              border-radius: 10px;
              display: grid;
              place-items: center;
              color: #16a34a;
            }
            span {
              color: #64748b;
            }
          }
          .date-status {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            margin: 12px 0;
            .date-wr {
              color: #64748b;
              span {
                padding-left: 8px;
              }
            }
          }
          p {
            font-size: 12px;
            line-height: 1.3;
          }
          &.danger {
            .icon {
              background-color: rgba(255, 0, 0, 0.099);
              color: red;
            }
          }
          &.warning {
            .icon {
              background-color: rgba(255, 166, 0, 0.104);
              color: orange;
            }
          }
          .action-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 12px;
            justify-content: flex-end;
            cursor: pointer;
            span {
              font-size: 14px;
            }
          }
          &.latestProjectsMV {
            .icon {
              background-color: #8400ff16;
              color: #8200ff;
              font-family: "font-bold";
            }
          }
          &.latestProjectsPV {
            .icon {
              font-family: "font-bold";
              background-color: rgba(37, 100, 235, 0.12);
              color: #2563eb;
            }
          }
        }
        .project-status {
          background-color: #dcfce7;
          width: fit-content;
          padding: 3px 12px;
          color: #166534;
          border-radius: 50px;
          font-size: 12px;
          display: flex;
          align-items: center;
          gap: 5px;
          &.pending {
            color: #d97706;
            background-color: #fef3c7;
          }
          &.Inprogress {
            color: #2563eb;
            background-color: #dbeafe;
          }
        }
      }
      .LateseProjects {
        background-color: #f9fafc;

        border-radius: 16px;
        border: 1px solid #e2e8f0;
        padding: 20px;
        margin-top: 24px;
        h3 {
          margin-top: 0;
        }
        .latest-projects {
          .single-project {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #dfe4e9;
            box-shadow: 0px 7px 14.6px 0px #f3f3f3;
            background: #f9fafb;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            margin-bottom: 10px;
            cursor: pointer;

            .left-side {
              .title {
                margin-bottom: 10px;
                p {
                  font-family: "font-medium";
                  font-size: 16px;
                  display: inline;
                  color: #333;
                }
                span {
                  background-color: #aedbee;
                  border: 1px solid #095183;
                  padding: 2px 10px;
                  border-radius: 25px;
                  margin-left: 10px;
                }
              }
              p {
                color: #515b6a;
              }
            }
          }
        }
      }
      .charts-wrapper {
        border: 1px solid #e7e7e780;

        border-radius: 16px;
        background-color: #fff;
        padding: 16px;
        margin-top: 0px;
      }

      .chart-title {
        font-family: "font-medium";
        font-size: 14px;
        text-align: center;
      }
      .legend-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 3px;
        .legend-single {
          display: flex;
          align-items: center;

          gap: 5px;
          color: #888888;
          margin-bottom: 8px;
        }
      }
      .selectedIems-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2px;
        justify-content: space-between;
        background-color: #f9f9fb;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 5px;
        @media (max-width: 625px) {
          overflow-x: auto;
          white-space: nowrap;
          flex-wrap: nowrap;
          padding: 10px 10px;
        }
        label {
          input {
            display: none;
            &:checked + span {
              border-color: #28384f;
              background-color: #28384f;
              color: #fff;
            }
          }
          span {
            // border: 1px solid #dddddd;
            color: #5d5d6b;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            text-align: right;
            // transition: $transition;
            display: flex;
            align-items: center;
            font-family: "font-regular";
            font-size: 14px;
            justify-content: center;
            user-select: none;
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
