@import "@/styles/variables.scss";

.privacy-section {
  padding: 0 0 30px 0;
  background-color: #020817;
  // background-color: #0c111c;
  min-height: 100vh;
  position: relative;
  :global {
    .privacy-inner {
      padding-top: 30px;
      color: #fff;
      line-height: 2.4;
      ul {
        list-style-type: initial;
        padding-left: 32px;
      }
      h4,
      h3 {
        padding: 10px 0;
      }
    }
    
  }
}
