@import "@/styles/variables.scss";

.hero-green-wrapper {
  background-image: linear-gradient(
      to right,
      rgba(36, 101, 237, 0.2) 0.5px,
      transparent 0.5px
    ),
    linear-gradient(rgba(36, 101, 237, 0.2) 0.5px, transparent 0.5px);
  background-size: 80px 80px;
  // mask-image: radial-gradient(circle, transparent 20%, black 70%);
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 150px;
  :global {
    .button-wrapper {
      background-color: transparent;
      height: fit-content;
      width: 100%;
      margin-top: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 18px;

      margin-top: 50px;
      a {
        background: linear-gradient(180deg, #3b82f6 -14.71%, #8200ff 100%);

        color: #ffffff;
        border-radius: 5px;
        // padding: 10px 32px;
        width: 200px !important;
        height: 48px !important;
        display: grid;
        place-items: center;
      }
    }

    .blur-cicrle {
      background-color: #060c0f7b;
      width: 60%;
      height: 400px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      filter: blur(100px);
    }
    .text-section {
      text-align: center;

      // z-index: 3;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      width: 100%;
      @media (min-width: 1600px) {
        gap: 25px;
      }
      h1 {
        font-size: 50px;
        font-family: "font-bold";
        color: #ffffff;
        line-height: 1;
        margin-bottom: 12px;
        @media (min-width: 1600px) {
          font-size: 60px;
        }
        @media (max-width: 991px) {
          font-size: 40px;
        }
        span {
          display: inline-block;
          background: linear-gradient(45deg, #a855f7, #3b82f6);

          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          line-height: 1.5;
          padding-bottom: 8px; /* يتيح مساحة للنقط */
          text-rendering: optimizeLegibility;
        }
      }

      p {
        font-size: 18px;
        color: #94a3b8;
        width: 100%;
        line-height: 1.3;
       
      }
    }
    .heroImg {
      width: 100%;
      margin-top: 65px;
      padding: 0 10%;
    }
  }
}
