@import "@/styles/variables.scss";

.privacy-section {
  background-color: #020817;

  min-height: 100vh;
  position: relative;

  :global {
    .privacy-inner {
      color: #fff;
      line-height: 2.4;
      padding: 30px 0;
      ul {
        list-style-type: initial;
        padding-left: 32px;
      }
      h4,
      h3 {
        padding: 10px 0;
      }
    }
  }
}
