@import "@/styles/variables.scss";
.thank-you-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  height: 59vh;
  padding: 50px 20px;
  @media (max-width: 768px) {
    height: calc(100vh - 320px);
    gap: 10px;
  }
  :global {
    h1 {
      font-size: 68px;
      font-family: "font-medium";
      color: $primary-color;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
    p {
      text-align: center;
      font-size: 20px;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    button {
      margin-top: 20px;
    }
  }
}
