@import "@/styles/variables.scss";

.about-section {
  padding: 50px 0;
  :global {
    .left-section {
      display: flex;
      justify-content: center;
      position: relative;
      border-radius: 20px;
      @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 20px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .chart-section {
        background-color: $secondary-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        right: -50px;
        top: -50px;
        border-radius: 15px;
        padding: 20px;
        @media (max-width: 768px) {
          position: unset;
          width: calc(30% - 10px);
          min-width: calc(30% - 10px);
        }

        @media (max-width: 625px) {
          width: 100%;
          min-width: 100%;
        }

        .chart-container {
          display: flex;
          align-items: center;
          flex-flow: column;
          position: relative;
          @media (max-width: 768px) {
            gap: 10px;
          }
          .bag-icon {
            margin-bottom: 15px;
            width: 80px;
            height: 80px;
            @media (max-width: 768px) {
              width: 50px;
              height: 50px;
              margin: 0;
            }
            @media (max-width: 625px) {
              width: 80px;
              height: 80px;
              min-width: 80px;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          p {
            color: #a0aec0;
            font-size: 14px;
            font-family: "font-regular";
            @media (max-width: 600px) {
              font-size: 12px;
            }
          }
          h5 {
            color: #000;
            font-size: 25px;
            font-family: "font-bold";
            margin-bottom: 10px;
            @media (max-width: 768px) {
              margin: 0;
            }
          }
        }
      }
      .person-section {
        padding: 20px;
        border-radius: 15px;
        background-color: $secondary-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        left: -50px;
        top: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 170px;
        @media (max-width: 768px) {
          position: unset;
          width: calc(30% - 10px);
          min-width: calc(30% - 10px);
          flex-flow: column;
          gap: 10px;
          text-align: center;
        }
        @media (max-width: 625px) {
          width: 100%;
          min-width: 100%;
        }

        h5 {
          font-size: 20px;
          font-family: "font-bold";
          @media (max-width: 768px) {
            margin-bottom: 10px;
          }
        }
        p {
          color: #101828;
          font-size: 15px;
        }
        .person-icon {
          width: 50px;
          height: 50px;
          min-width: 50px;
          @media (max-width: 625px) {
            width: 80px;
            height: 80px;
            min-width: 80px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .number-section {
        padding: 20px;
        border-radius: 15px;
        background-color: $secondary-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        right: -100px;
        bottom: 100px;
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 170px;
        @media (max-width: 768px) {
          position: unset;
          width: calc(30% - 10px);
          min-width: calc(30% - 10px);
          flex-flow: column;
          gap: 10px;
          text-align: center;
        }
        @media (max-width: 625px) {
          width: 100%;
          min-width: 100%;
        }
        h5 {
          font-size: 20px;
          font-family: "font-bold";
          @media (max-width: 768px) {
            margin-top: 10px;
          }
        }
        p {
          color: #101828;
          font-size: 15px;
        }
        .light-icon {
          width: 50px;
          height: 50px;
          min-width: 50px;
          @media (max-width: 625px) {
            width: 80px;
            height: 80px;
            min-width: 80px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
    .rigth-section {
      h3 {
        font-size: 30px;
        font-family: "font-bold";
        color: #095183;
        margin-bottom: 35px;
      }
      p {
        font-size: 20px;
        margin-bottom: 50px;
        width: 85%;
        @media (max-width: 991px) {
          width: 100%;
        }
        @media (max-width: 475px) {
          font-size: 16px;
        }
      }
    }
    .icon-section {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      .icon {
        display: grid;
        place-items: center;
        width: 40px;
      }
      p {
        font-size: 20px;
        font-family: "font-bold";
        color: #095183;
        @media (max-width: 475px) {
          font-size: 16px;
        }
      }
    }
    .first-section {
      @media (max-width: 991px) {
        margin-top: 25px;
      }
    }
    .principles {
      background-color: #d9e3e2;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 40px;
      height: fit-content;
      box-shadow: 0px 4px 4px 0px #00000040;
      padding: 40px;
      margin: 0 auto;
      gap: 20px;
      min-height: 350px;
      @media (max-width: 475px) {
        gap: 20px;
        padding: 40px 20px;
      }
      h3 {
        font-family: "font-bold";
      }
      p {
        text-align: center;
        font-size: 18px;
        @media (max-width: 475px) {
          font-size: 16px;
        }
      }
    }
    .middle {
      background-color: #d9e3e25e;
    }
    .features {
      padding: 50px 0;
    }
  }
}
