@import "@/styles/variables.scss";

.header-section {
  padding: 15px 40px;
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #e5e5ef33;
  background-color: transparent;

  @media (max-width: 625px) {
    padding: 20px 0;
  }

  :global {
    .header-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .drop-menu {
      a {
        color: #0b0b0b !important;
      }
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo {
      @media (max-width: 625px) {
        width: 70px;
        height: auto;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .left-head {
      @extend .container;
      position: relative;
      gap: 50px;
      @media (max-width: 835px) {
        gap: 0;
      }
      .desktop-view {
        gap: 100px;

        @media (max-width: 835px) {
          gap: 0;
        }
        @extend .container;
        .menu {
          ul {
            @extend .container;
            gap: 30px;
            li {
              a,
              button {
                font-size: 20px;
                color: #f8f8f8;
                transition: $transition;
                position: relative;
                border: 0;
                background-color: transparent;
                padding: 0;
                line-height: normal;
                [dir="ltr"] & {
                  font-size: 16px;
                }
                &::before {
                  content: "";
                  position: absolute;
                  left: 50%;
                  bottom: -15px;
                  width: 6px;
                  height: 6px;
                  border: 0;
                  margin: 0;
                  border-radius: 50%;
                  background-color: $primary-color;
                  translate: -50% 0;
                  opacity: 0;
                  transition: $transition;
                  @media (max-width: 835px) {
                    display: none;
                  }
                }

                &.dropdown-toggle {
                  gap: 10px;
                  min-width: auto;
                }
                &.link-mobile {
                  display: none;
                  @media (max-width: 835px) {
                    display: flex;
                  }
                }

                &:hover,
                &.active {
                  color: $primary-color;
                  &::before {
                    opacity: 1;
                    bottom: -10px;
                  }
                }
              }

              .dropdown {
                @media (max-width: 835px) {
                  display: none;
                }
              }
            }
          }

          @media (max-width: 835px) {
            position: fixed;
            left: 0;
            top: 0;
            width: 300px;
            height: 100%;
            background-color: #fff;
            z-index: 9;
            padding: 40px 20px;
            translate: -150% 0;
            transition: $transition;
            &.active {
              translate: 0 0;

              ul {
                flex-direction: column;
                gap: 0;
                margin-block: 20px;
                li {
                  width: 100%;
                  a,
                  button {
                    color: #000000;
                    display: flex;
                    font-size: 15px;
                    padding: 10px 0;
                    border-bottom: 1px solid #f6f6f6;
                    width: 100%;
                    justify-content: flex-start;
                    &::before {
                      opacity: 1;
                      bottom: -10px;
                    }
                    &:hover {
                      padding-inline: 15px;
                      color: $primary-color;
                    }
                  }

                  &:last-child {
                    display: none;
                    a,
                    button {
                      border-bottom: 0;
                    }
                  }
                }
              }

              .user--area {
                border: 1px solid #dfdfdf;
                padding: 15px;
                border-radius: 10px;
                margin-bottom: 15px;
                .dropdown-toggle {
                  border-radius: 0;
                  border: 0;
                  background-color: transparent;
                  width: 100%;
                  color: #ffffff;
                  padding: 0;
                  justify-content: flex-start;
                  gap: 10px;
                  height: auto;

                  &::after {
                    margin-inline-start: auto;
                  }
                }
                .dropdown-menu {
                  right: 0 !important;
                  left: auto !important;
                  width: 100%;
                  position: relative !important;
                  transform: none !important;
                  box-shadow: none;
                  padding: 10px 0;
                  border-radius: 0;
                }
              }
            }
          }

          .close-sidebar {
            padding: 0;
            background-color: transparent;
            border: 0;
            display: none;
            @media (max-width: 835px) {
              display: block;
            }
          }

          .user--area {
            display: none;
            @media (max-width: 835px) {
              display: block;
            }
          }
        }
        .search {
          .form-group {
            position: relative;
            .form-control {
              height: 50px;
              border-radius: 15px;
              background-color: $secondary-color;
              border-color: $secondary-color;
              transition: $transition;
              min-width: 315px;
              box-shadow: none;
              padding-inline: 50px 15px;
              &:focus {
                border-color: $primary-color;
              }
            }
            button {
              position: absolute;
              right: 0;
              top: 0;
              height: 50px;
              border: 0;
              background-color: transparent;
              padding: 0 20px;
            }
          }

          @media (max-width: 835px) {
            display: none;
            &.active {
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              display: block;
              position: absolute;
              left: 0;
              background: #fff;
              padding: 10px;
              top: 60px;
              min-width: 200px;
            }
          }
        }
      }
      .actions {
        @extend .container;
        gap: 15px;
        display: flex;
        .user--area {
          display: none;

          a,
          button {
            transition: $transition;
            position: relative;
            border: 0;
            background-color: transparent;
            padding: 0;
            line-height: normal;
            display: flex;
            font-size: 20px;
            [dir="ltr"] & {
              font-size: 16px;
            }

            &.dropdown-toggle {
              gap: 5px;
              height: auto;
              border-radius: 0;
              border: 0 !important;
              background-color: transparent !important;
              color: #ffffff !important;
              width: auto;
              min-width: auto;
            }
          }

          &.lang--area {
            display: block;
            @media (max-width: 835px) {
              display: none;
            }
            .dropdown {
              .dropdown-menu {
                min-width: 150px;
              }
            }
          }
        }
        .btn {
          min-width: 100px;

          @media (max-width: 835px) {
            font-size: 13px;
            min-width: 65px;
            height: 30px;
            padding: 0 5px;
          }
        }
        button {
          border: 0;
          width: 25px;
          height: 30px;
          padding: 0;
          background-color: transparent;
          display: none;
          align-items: center;
          justify-content: center;
          margin: 0;
          @media (max-width: 835px) {
            display: flex;
          }
        }
      }
    }

    .dropdown-menu {
      padding: 10px;
      min-width: 250px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border: 0;
      border-radius: 10px;
      @media (max-width: 835px) {
        left: -70px !important;
        min-width: 200px;
        border-radius: 10px;
      }
      .dropdown-item {
        background-color: #f7f7f7 !important;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 10px 15px !important;
        font-size: 15px !important;
        font-family: "font-bold";
        margin-bottom: 10px;
        gap: 10px;
        @media (max-width: 835px) {
          font-size: 13px !important;
          padding-block: 5px !important;
          border-radius: 5px;
        }
        svg {
          transition: $transition;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &::after,
        &::before {
          display: none;
        }
        &:hover {
          background-color: #e1e5ed !important;
       
          svg {
            fill: #fff;
          }
        }
      }
    }
  }

  &.home-page-header {
    background-color: #fff;
    :global {
      .left-head {
        .desktop-view {
          .menu {
            ul {
              li {
                a {
                  color: #ffffff;
                  @media (max-width: 835px) {
                    color: #ffffff;
                  }
                  &::after {
                    background-color: #fff;
                  }
                }

                .dropdown {
                  button {
                    color: #000;
                  }
                  .dropdown-menu {
                    .dropdown-item {
                      color: #000;
                      &::before {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .actions {
          .btn {
            background-color: $primary-color;
            color: #fff;
            &:hover {
              border: 1px solid #fff;
              background-color: $primary-color;
              color: #fff;
            }
          }
          .open-menu {
            span {
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
}
