@import "@/styles/variables.scss";

.blogs-wrapper {
  background-color: #020817;
  // background-color: #0c111c;
  min-height: 100vh;

  @media (max-width: 768px) {
    padding-block: 10px 30px;
  }
  :global {
    .header {
      background-color: transparent;
      border-radius: 10px;
      width: calc(100%);
    }
    .gl-breadcrumb {
      text-align: center;
      padding-block: 30px 20px;
      @media (max-width: 768px) {
        padding-block: 50px 100px;
      }

      h3 {
        color: #ffffff;
        font-size: 45px;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
      .gl-breadcrumb-desc {
        color: #ffffff;
        font-size: 18px;
        width: 60%;
        margin: 0 auto;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }

    .search-wr {
      display: flex;
      align-items: center;
      justify-content: center;

      .form-group {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0 !important;
        width: 50%;
        justify-content: center;
        margin-top: 20px;
        @media (max-width: 768px) {
          width: 85%;
        }
        .form-control {
          border-radius: 8px;
          border: 0.5px solid #cccccc;
          box-shadow: none;
          min-height: 55px;
          padding: 0 15px;
          width: 100%;
          line-height: normal;
          border: 1px solid #061d4c;
          box-shadow: none;
          background-color: rgba(7, 15, 34, 0.378);
          // box-shadow: 0 5px 45px -15px #4d85ff;
          color: #fff;
          font-size: 18px;
          &::placeholder {
            color: #c5d1ee8f;
            font-size: 18px;
          }
          &:disabled {
            background-color: #dfdfdf;
            cursor: not-allowed;
          }

          button:disabled {
            background-color: transparent;
          }

          &:focus {
            color: #fff;
            outline: 0;
            border-color: #005bd1;
          }
        }

        button {
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          right: 10px;
          position: absolute;

          border: 0;
          background: #2465ed;
          color: white;

          width: 40px;
          height: 40px;
          &.closeBtn {
            right: 50px;
          }
          &.delete-search {
            right: 60px;
            background: transparent;
            color: #fff;
          }
          &:disabled {
            cursor: not-allowed;
            // background-color: transparent;
            // opacity: 0.5;
          }
        }
      }
    }
    .blogs-tabs {
      padding: 45px 0;
      .nav {
        background-color: #eff1f3;
        border-radius: 15px;
        padding: 15px 25px;
        gap: 0px;
        overflow: hidden;
        overflow-x: auto;
        margin-block: 20px 40px;
        flex-wrap: nowrap;

        @media (max-width: 768px) {
          margin-block: -50px 50px;
          padding: 15px;
        }
        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $primary-color;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: #0000001a;
          border-radius: 10px;
        }
        .nav-link {
          color: #231f20;
          font-size: 15px;
          transition: $transition;
          border-radius: 50px;
          padding: 10px 30px;
          white-space: nowrap;

          @media (max-width: 768px) {
            font-size: 14px;
            padding: 10px 20px;
          }
          &.active {
            color: #fff;
            background-color: $primary-color;
          }
        }
      }
      .blog-card {
        border-radius: 30px;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0px 4px 27.8px 0px #b4b4b440;

        .blog-image {
          position: relative;
          overflow: hidden;
          padding-top: 50%;

          margin-bottom: 10px;
          background-color: rgb(255 255 255 / 16%);
          img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          a {
            position: absolute;
            inset: 0;
            z-index: 1;
          }
        }
        .blog-content {
          padding: 20px 20px;
          ul {
            display: flex;
            align-items: center;
            gap: 20px;
            li {
              color: #333;
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
          h2 {
            color: #333;
            font-size: 20px;
            font-family: "font-semibold";
            margin-block: 10px 10px;

            overflow: hidden;
            min-height: 50px;
            max-height: 50px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            a {
              color: inherit;
              font-size: inherit;
            }
          }
          .blog-desc {
            margin-bottom: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            min-height: 50px;
            max-height: 50px;

            * {
              color: #333;
              font-size: 14px !important;
            }
          }

          .btn {
            min-width: 110px;
            height: 40px;
            width: fit-content;
            font-size: 14px;
            font-family: "font-bold";
          }
        }
      }
    }
  }
}
