.blog-wrapper {
  padding: 25px 0;
  @media (max-width: 485px) {
    padding: 25px 0;
  }
  :global {
    .hero-wrapper {
      padding-top: 50%;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
      }
    }
    .content-wrapper {
      .icons-wrapper {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 15px;
        .icons {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      .blog-title {
        margin-block: 20px;
        font-family: "font-semibold";
      }

      .content-article {
        ul {
          padding-inline: 20px;
          list-style: disc;
          ul {
            list-style: circle;
          }
        }
        ol {
          padding-inline: 20px;
          ul {
            list-style: circle;
          }
        }
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
          margin-block: 15px;
        }
      }
    }

    .newBlogs-wrapper {
      width: 100%;
      height: fit-content;
      padding: 15px;
      border-radius: 15px;
      border: 1px solid #d4d4d4;
      margin-bottom: 35px;

      .title {
        color: #111827;
        margin-bottom: 25px;

        h2 {
          font-family: "font-semibold";
          font-size: 20px;
        }
      }
      .section {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        .img-container {
          overflow: hidden;
          border-radius: 10px;
          position: relative;
          width: 70px;
          min-width: 70px;
          height: 70px;
          a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            inset: 0;
          }
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            inset: 0;
          }
        }
        .info-container {
          .date-container {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 5px;
          }
          h4 {
            a {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              line-height: 1.5;
              color: inherit;
              font-family: "font-semibold";
              font-size: 15px;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .categories-wrapper {
      width: 100%;
      height: fit-content;
      padding: 15px;
      border-radius: 15px;
      border: 1px solid #d4d4d4;
      margin-bottom: 35px;

      .title {
        color: #111827;
        margin-bottom: 25px;
        h4 {
          font-family: "font-semibold";
        }
      }
      h2 {
        font-size: 16px;
        margin-bottom: 20px;
      }
      .section {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .keyWords-wrapper {
      width: 100%;
      height: fit-content;
      padding: 15px 15px 25px 15px;
      border-radius: 15px;
      border: 1px solid #d4d4d4;

      .title {
        color: #111827;
        margin-bottom: 25px;
        h4 {
          font-family: "font-semibold";
        }
      }
      .keywords-section {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        span {
          width: fit-content;
          height: fit-content;
          padding: 10px 15px;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
