@import "@/styles/variables.scss";

/* ********** MEDIA QUERY ********* */
// @keyframes bannermove {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }

.clients-section {
  margin-top: 45px;
  // .swiper-slide {
  //   transition-timing-function: linear !important;
  //   transition-duration: 500ms !important; /* Adjust the duration as needed */
  // }

  margin-bottom: 120px;
  h3 {
    text-align: center;
    font-size: 54px;
    font-family: "font-medium";
    color: #ffffff;
  }
  h5 {
    text-align: center;
    font-size: 20px;
    color: #94a3b8;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .swiper-container {
    margin: 0 auto;
    width: 100%;
  }
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  section {
    width: 100%;
    overflow: hidden;
  }

  article {
    display: flex;
    width: 100%;
    // animation: bannermove 15s linear infinite;
  }

  ul {
    display: flex;
    background: transparent;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    gap: 30px;
    padding: 50px 0;
  }

  li {
    width: 100%;
    background: transparent;
    background-color: #fff;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }
  .single-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    // background-color: #ffffff47;
    // padding: 20px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // border-radius: 10px;

    // background: linear-gradient(
    //   135deg,
    //   rgba(255, 255, 255, 0.1),
    //   rgba(255, 255, 255, 0.05)
    // );
    // backdrop-filter: blur(10px);
    // border: 1px solid rgba(255, 255, 255, 0.1);
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px,
    //   rgba(255, 255, 255, 0.1) 0px 1px 1px inset;
  }

  .img-wrapper {
    background-color: transparent !important;
    border-radius: 5px !important;
    padding: 10px !important;
    mix-blend-mode: multiply;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text {
    white-space: nowrap;
    h4 {
      color: #ffffff;
      font-family: "font-medium";
      font-size: 18px;
    }
    p {
      color: #c7c7dc;
      font-size: 16px;
      margin-top: 5px;
    }
  }
}

.numbers-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  h6 {
    font-size: 14px;
    color: #a1a9b3;
    text-transform: uppercase;
    font-family: "font-bold";
  }
  .single-numbers {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
  }
  span {
    display: flex;
    align-items: center;
    gap: 5px;
    p {
      margin: 0;
      color: #26343d;
      font-family: "font-medium";
      font-size: 18px;
    }
    svg {
      min-width: fit-content;
    }
  }
}
