.card {
  --border-radius: 0.75rem;
  --primary-color: #095183;
  --secondary-color: #333;
  width: 310px;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: rgba(245, 245, 245, 0.5) !important;
  text-align: left;
  box-shadow: rgb(197 197 197 / 20%) 0px 2px 8px 0px;
  position: relative;
  border: none;
  width: 100%;
  height: 145px;
  border: 1px solid #d9e1f1;
  border-radius: 10px;
  cursor: pointer;
}
.card-w {
  position: relative;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
.card .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}
.left_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.deleteicon {
  cursor: pointer;
  margin-left: 3px;
}

.control-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 3 !important;
}


/* .control-icon .dropdown-toggle {
  background-color: rgba(245, 245, 245, 0.5) !important;
  gap: 5px;
  height: auto;
  border: 0 !important;
  color: #777795 !important;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  width: 35px;
  padding: 5px;
  box-shadow: none !important;
  outline: none !important;
}
.control-icon .dropdown-toggle:hover,
:focus {
  background-color: rgba(245, 245, 245, 0.5) !important;
  gap: 5px;
  border: 0 !important;
  color: #777795 !important;
  border-radius: 5px;
  font-size: 16px;
  height: 35px;
  padding: 5px;
  width: 35px;

}

.control-icon .dropdown-toggle img {
  margin-left: 0 !important;
}

.control-icon .dropdown-menu {
  padding: 10px;
  min-width: 250px;
  box-shadow: 0px 5px 15px 0px #959da533;
  border: 0;
  border-radius: 15px;
}

.control-icon .dropdown-menu {
  text-align: left;
}

@media (max-width: 835px) {
  .dropdown-menu {
    border-radius: 10px;
  }
}

@media (max-width: 490px) {
  .dropdown-menu {
    min-width: 350px;
  }
}

@media (max-width: 375px) {
  .dropdown-menu {
    width: 280px;
    border-radius: 5px;
  }
}

.control-icon.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 15px !important;
  font-size: 14px !important;
  font-family: "font-medium";
  gap: 10px;
}

@media (max-width: 835px) {
  .dropdown-item {
    font-size: 13px !important;
    padding-block: 5px !important;
    border-radius: 5px;
  }
}

.control-icon .dropdown-item .icon {
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: grid;
  place-items: center;
}

.control-icon .dropdown-item svg {
  transition: all 0.3s ease;
}

.control-icon .dropdown-item:last-child {
  margin-bottom: 0;
}

.control-icon .dropdown-item::after,
.control-icon .dropdown-item::before {
  display: none;
}

.control-icon .dropdown-item:hover {
  background-color: #f4f4f4 !important;
  color: #000000 !important;
}

.control-icon .dropdown-item:hover svg {
  fill: #fff;
}

.control-icon .dropdown-item:active {
  background-color: #f4f4f4 !important; 
  color: #000000 !important;
} */
