$transition: all 0.3s;
$primary-color: #2465ed;
$secondary-color: #DDD2E7;
$secondary-color-dark: #5f8ef5;

$font-rg: "font";
$font-bd: "font-bold";

$linear-color: linear-gradient(90deg, #9333ea 0%, #2563eb 100%);
