@import "@/styles/variables.scss";

.login-section {
  padding: 0px 0;
  background-color: #fff;
  height: 100%;
  @media (max-width: 991px) {
    overflow: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding: 0;
  }
  :global {
    .row {
      justify-content: space-between;
      height: 100%;
      @media (max-width: 991px) {
        height: auto;
      }
    }

    .login-banner {
      height: 100%;
      background-color: #111827;
      border-radius: 0px 0 0 0px;
      padding: 70px;
      [dir="ltr"] & {
        border-radius: 0 0px 0px 0;
      }
      @media (max-width: 991px) {
        border-radius: 0;
        height: auto;
        text-align: center;
        padding: 30px;
      }
      img {
        width: 150px;
        height: 100px;
        object-fit: contain;
        filter: brightness(0) invert(1);
        @media (max-width: 991px) {
          width: 110px;
          height: auto;
        }
      }
      .login-banner__text {
        margin-top: 150px;
        @media (max-width: 991px) {
          margin-top: 50px;
        }
        h3 {
          color: #fff;
          font-family: "font-bold";
          font-size: 40px;
          margin-bottom: 20px;
          @media (max-width: 991px) {
            font-size: 30px;
          }
        }
        p {
          color: #fff;
          font-size: 18px;
          max-width: 70%;
          @media (max-width: 991px) {
            max-width: 100%;
            font-size: 16px;
          }
        }
      }
    }
    .login-form {
      padding: 0 70px;
      max-width: 50%;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
     
      @media (min-width: 991px) and (max-width : 1599px) {
        max-width: 80%;
      }
      @media (max-width: 991px) {
        max-width: 100%;
        padding: 40px 20px;
      }
      .login-form__header {
        margin-bottom: 50px;
        text-align: center;
        h3 {
          font-family: "font-bold";
          font-size: 30px;
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          color: #414143;
        }
      }
      .login-form__body {
        .form-group {
          label {
            margin-bottom: 10px;
            color: #414143;
          }
          .form-control {
            height: 50px;
            border-radius: 5px;
            padding: 0 20px;
            box-shadow: none;
            border-color: #fff;
            text-align: right;
            font-size: 16px;
            transition: $transition;
            background-color: #F3F3F3;
            [dir="ltr"] & {
              text-align: left;
            }
            &::placeholder {
              color: rgba(65, 65, 67, 0.5);
            }
            &:focus {
              border-color: $primary-color;
              box-shadow: none;
            }
          }
          .error {
            color: red;
            margin-top: 10px;
            font-size: 13px;
            line-height: 1.3;
          }
          div {
            position: relative;
          }
          .show-password {
            position: absolute;
            left: 20px;
            border: 0;
            padding: 0;
            background-color: transparent;
            top: 50%;
            translate: 0 -50%;
            line-height: 1;
            transition: $transition;
            [dir="ltr"] & {
              right: 20px;
              left: auto;
            }
            &::after {
              content: "";
              position: absolute;
              width: 1px;
              height: 25px;
              background-color: #414143;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
              rotate: 45deg;
              opacity: 0;
              transition: $transition;
            }

            &.active {
              opacity: 0.5;
              &::after {
                opacity: 1;
              }
            }
          }
          .form-group__links {
            margin: 10px 0 35px;
            text-align: left;
            [dir="ltr"] & {
              text-align: right;
            }
            a {
              color: $primary-color;
              font-size: 16px;
            }
          }
          .btn {
            width: 100%;
            font-family: "font-bold";
          }
          .form-group__register {
            margin-top: 10px;
            text-align: center;
            font-size: 16px;
            a {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
/* ********** MEDIA QUERY ********* */
